@media (hover: hover) {
  .slide--current:hover .slide__image-wrapper {
    transform: scale(1.025) translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
  }
}

.btn {
  background-color: var(--primary);
  display: inline-block;
  border: none;
  border-radius: 0.125rem;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  text-decoration: none;
  padding: 1rem 2.5rem 1.125rem;
  margin-right: 2rem;
}

.btn:focus {
  outline-color: var(--fourth);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 3px;
}

.btn:active {
  transform: translateY(1px);
}

.slide__image-wrapper {
  background-color: var(--third);
  border-radius: 10px;
  height: 100%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%;
}

.slide__image {
  --d: 20;
  height: 110%;
  left: -5%;
  -o-object-fit: cover;
  object-fit: cover;
  filter: blur(1px);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -5%;
  transition: opacity var(--base-duration) var(--base-ease), transform var(--base-duration) var(--base-ease);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 110%;
}

@media (hover: hover) {
  .slide--current .slide__image {
    transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
  }
}

.slide__headline {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
  text-shadow: 0px 0px 15px var(--third);
  position: relative;
}

.headlines > small {
  color: var(--primary);
  font-size: .9rem;
  font-weight: 100;
  font-style: italic;
}

.slide__content {
  --d: 60;
  height: 100%;
  /* width: 150%; */
  opacity: 0;
  padding: 4vmin;
  display: flex;
  gap: 3%;
  align-items: center;
  justify-content: space-evenly;
  text-align: start;
  align-self: stretch;
  position: relative;
  transition: transform var(--base-duration) var(--base-ease);
  visibility: hidden;
}

.pics {
  height: 65vmin;
  display: inline-flex;
  align-items: center;
}

.pics>.slide-pic-one {
  height: 60vmin;
  object-fit: contain;
}

.pics>.slide-pic-two {
  height: 50vmin;
  object-fit: contain;
}

.slide--current .slide__content {
  -webkit-animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
  animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
  visibility: visible;
}

@media (hover: hover) {
  .slide--current .slide__content {
    transform: translate(calc(var(--x) / var(--d) * -1px), calc(var(--y) / var(--d) * -1px));
  }
}

.slide__content>.headlines>*+* {
  margin-top: 2rem;
}

.headlines {
  width: 35%;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .btn {
    font-size: 0.70rem;
    display: flex;
    border: none;
  }

  .slide__headline {
    font-size: 1.60rem;
  }

  .pics {
    height: 57vmin;
  }

  .pics>.slide-pic-one {
    height: 57vmin;
    object-fit: contain;
  }

  .pics>.slide-pic-two {
    height: 47vmin;
    object-fit: contain;
  }
}

@media screen and (max-width: 550px) {
  .slider__wrapper {
    margin: 0 calc(var(--slide-margin) * -1.5);
  }

  .slide--current {
   height: 90vh; 
  }

  .headlines {
    width: 100%;
    text-align: center;
  }

  .slide__content {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-self: center;
    padding: 0;
  }
  .btn {
    font-size: 0.85rem;
    width: fit-content;
    margin: auto;
    display: flex;
    border: none;
  }

  .pics {
    height: 85vmin;
    width: 100%;
    padding: 0 1rem;
    gap: 4%;
    margin-bottom: 2rem;
  }

  .pics>.slide-pic-one {
    height: 85vmin;
    object-fit: contain;
  }

  .pics>.slide-pic-two {
    height: 75vmin;
    object-fit: contain;
  }
}